@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization;
@using Client.Pages.Authentication;
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>

    <RadzenNotification />
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello, ADMIN
                    <a href="/logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login" class="ml-md-auto">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <Login></Login>
                </NotAuthorized>
            </AuthorizeView>
        </article>
    </main>
</div>